<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<header th:replace="~{layout :: header}">
</header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container">
            <h3>
                <a th:href="@{/dataleads}"> Data Leads </a> >
                <a th:href="@{/dataleads/form}" th:text="${dataLeadsById.id != null} ? 'Ubah' : 'Tambah'"></a>
            </h3>
            <form method="post" class="upsert-form" th:action="@{/dataleads/form}">
                <input type="hidden" th:field="${dataLeadsById.id}">
                <table>
                    <tbody>
                    <tr>
                        <td><label class="label-nama">Product *</label></td>
                        <td>
                            <div class="search-container">
                                <input class="search-produk" id="product" name="product" type="text" required th:field="${dataLeadsById.idProduk}">
                                <div class="suggestions-produk suggestions" ></div>
                            </div>

                            <div class="field-validation-error"></div>
                        </td>
                    <tr>
                        <td><label class="label-nama">Tipe Debitur*</label></td>
                        <td class="input-box">
                            <input type="radio" th:field="${dataLeadsById.tipeDebitur}" value="true" id="tipe-debitur-perusahaan">
                            <label for="tipe-debitur-perusahaan">Perusahaan</label>
                            <input type="radio" th:field="${dataLeadsById.tipeDebitur}" value="false" id="tipe-debitur-perseorangan">
                            <label for="tipe-debitur-perseorangan">Perseorangan</label>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Tipe Aplikasi *</label></td>
                        <td>
                            <div class="search-container">
                                <input id="tipe-aplikasi" name="tipe-aplikasi" type="text" required th:field="${dataLeadsById.tipeAplikasi}">
                                <div class="suggestions-tipeAplikasi suggestions"></div>
                                <div class="field-validation-error"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Nama Depan Debitur *</label></td>
                        <td>
                            <input id="nama-depan-debitur" name="nama-depan-debitur" type="text" required th:field="${dataLeadsById.namaDepanDebitur}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Nama Tengah Debitur </label></td>
                        <td>
                            <input id="nama-tengah-debitur" name="nama-tengah-debitur" type="text" required th:field="${dataLeadsById.namaTengahDebitur}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nama Akhir Debitur </label></td>
                        <td>
                            <input id="nama-akhir-debitur" name="nama-akhir-debitur" type="text" required th:field="${dataLeadsById.namaBelakangDebitur}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="identitas">Nomor Identitas*</label></td>
                        <td>
                            <select id="identitas" name="identitas" th:field="${dataLeadsById.idIdentitas}" required>
                                <option value="" disabled selected>-- Pilih Identitas --</option>
                                <option value="1">KTP</option>
                                <option value="2">SIM</option>
                                <option value="3">Passport</option>
                            </select>
                            <input id="nomorIdentitas" name="nomorIdentitas" type="text" required th:field="${dataLeadsById.nomorIdentitas}">

                            <div  class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Jenis Kelamin *</label></td>
                        <td class="input-box">
                            <input type="radio" th:field="${dataLeadsById.jenisKelamin}" value="L" id="laki-laki" required>
                            <label for="laki-laki">Laki-laki</label>
                            <input type="radio" th:field="${dataLeadsById.jenisKelamin}" value="P" id="perempuan" required>
                            <label for="perempuan">Perempuan</label>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Alamat Identitas*</label></td>
                        <td>
                            <textarea th:field="${dataLeadsById.alamatIdentitas}" id="alamat" name="alamat" required placeholder="&#xf015;" rows="4" cols="50"></textarea>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kelurahan *</label></td>
                        <td>
                            <div class="search-container">
                                <input id="kelurahan" name="kelurahan" type="text" required th:field="${dataLeadsById.kelurahan}">
                                <div class="suggestions-kelurahan suggestions"></div>
                                <div class="field-validation-error"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kode Pos*</label></td>
                        <td>
                            <input id="kode-pos" name="kode-pos" type="text" required readonly th:field="${dataLeadsById.kodePos}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kecamatan*</label></td>
                        <td>
                            <input id="kecamatan" name="kecamatan" type="text" required readonly th:field="${dataLeadsById.kecamatan}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kabupaten/Kota*</label></td>
                        <td>
                            <input id="kota" name="kota" type="text" required readonly th:field="${dataLeadsById.kotaKabupaten}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Provinsi*</label></td>
                        <td>
                            <input id="provinsi" name="provinsi" type="text" required readonly th:field="${dataLeadsById.provinsi}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="input-box">
                            <input type="checkbox" id="" name=""
                                   th:checked="${dataLeadsById.kelurahanDomisili == dataLeadsById.kelurahan} and ${dataLeadsById.kelurahanDomisili} != null">
                            <label for="">Sama Dengan Alamat Identitas</label>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>


                    <tr>
                        <td><label class="label-nama">Alamat Domisili*</label></td>
                        <td>
                            <textarea id="alamat-domisili" name="alamat-domisili" required placeholder="&#xf015;" rows="4" cols="50" th:field="${dataLeadsById.alamatDomisili}"></textarea>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kelurahan *</label></td>
                        <td>
                            <div class="search-container"></div>
                            <input id="kelurahan-domisili" name="kelurahan-domisili" type="text" required th:field="${dataLeadsById.kelurahanDomisili}">
                            <div class="suggestions-kelurahanDomisili suggestions"></div>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kode Pos*</label></td>
                        <td>
                            <input id="kode-pos-domisili" name="kode-pos-domisili" type="text" required readonly th:field="${dataLeadsById.kodePosDomisili}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kecamatan*</label></td>
                        <td>
                            <input id="kecamatan-domisili" name="kecamatan-domisili" type="text" required readonly th:field="${dataLeadsById.kecamatanDomisili}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kabupaten/Kota*</label></td>
                        <td>
                            <input id="kota-domisili" name="kota-domisili" type="text" required readonly th:field="${dataLeadsById.kotaKabupatenDomisili}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Provinsi*</label></td>
                        <td>
                            <input id="provinsi-domisili" name="provinsi-domisili" type="text" required readonly th:field="${dataLeadsById.provinsiDomisili}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nama Cabang Tujuan</label></td>
                        <td>
                            <input id="nama-cabang-tujuan" name="nama-cabang-tujuan" type="text" required readonly
                                   th:value="1">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>


                    <tr>
                        <td><label class="label-nama">Nomor Handphone 1*</label></td>
                        <td>
                            <input id="nomor-handphone-1" name="nomor-handphone-1" type="text" required th:field="${dataLeadsById.nomorHandphone1}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nomor Handphone 2</label></td>
                        <td>
                            <input id="nomor-handphone-2" name="nomor-handphone-2" type="text" th:field="${dataLeadsById.nomorHandphone2}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nomor Telepon</label></td>
                        <td>
                            <input id="nomor-telepon" name="nomor-telepon" type="text" th:field="${dataLeadsById.nomorTelepon}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Sumber Data Aplikasi *</label></td>
                        <td>
                            <div class="search-container">
                                <input id="sumber-data-aplikasi" name="sumber-data-aplikasi" type="text" th:field="${dataLeadsById.sumberDataAplikasi}">
                                <div class="suggestions-sumberDataAplikasi suggestions"></div>
                                <div class="field-validation-error"></div>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Referensi</label></td>
                        <td>
                            <div class="search-container">
                                <input id="referensi" name="referensi" type="text" th:field="${dataLeadsById.referensi}">
                                <input type="hidden" id="referensiValue" name="referensiValue" th:value="${dataLeadsById.referensiValue}">
                                <div class="suggestions-referensi suggestions"></div>
                                <div class="field-validation-error"></div>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Jenis Usaha</label></td>
                        <td>
                            <input id="jenis-usaha" name="jenis-usaha" type="text" th:field="${dataLeadsById.jenisUsaha}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Keterangan Aplikasi</label></td>
                        <td>
                            <div class="search-container">
                                <input id="keterangan-aplikasi" name="keterangan-aplikasi" type="text" th:field="${dataLeadsById.keteranganAplikasi}">
                                <div class="suggestions-keterangan-aplikasi suggestions"></div>
                                <div class="field-validation-error"></div>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nama Surveyor *</label></td>
                        <td>
                            <input id="nama-surveyor" name="nama-surveyor" type="text" required readonly th:field="${dataLeadsById.surveyor}">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Status*</label></td>
                        <td class="input-box">
                            <input type="radio" th:field="${dataLeadsById.status}" value="true" id="status-aktif" required>
                            <label for="status-aktif">Aktif</label>

                            <input type="radio" th:field="${dataLeadsById.status}" value="false" id="status-tidak-aktif" required>
                            <label for="status-tidak-aktif">Tidak Aktif</label>

                            <div  class="field-validation-error"></div>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div id="part1" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part1')">Data Produk</button>
                    <div class="form-content">
                        <table>
                            <tbody>
                            <tr>
                                <td><label class="label-nama">POT (Payment of Term *</label></td>
                                <td>
                                    <div class="search-container">
                                        <input id="pot" class="searchFormPOT" name="pot" type="text" required th:field="${dataLeadsById.pot}">
                                        <div class="suggestionDataLeadsPOT suggestions" ></div>
                                    </div>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Tenor</label></td>
                                <td>
                                    <input id="tenor" name="tenor" class="tenorInput" type="text" required readonly th:field="${dataLeadsById.tenor}">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>


                            <tr>
                                <td><label class="label-nama">Estimasi Nilai Funding</label></td>
                                <td>
                                    <input id="estimasi-nilai-funding" class="nilaiFundingInput" name="estimasi-nilai=-funding" type="text" required readonly th:field="${dataLeadsById.estimasiNilaiFunding}">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="part2" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part2')">Data Unit</button>
                    <div class="form-content">
                        <table>
                            <tbody>
                            <tr>
                                <td><label class="label-nama">Kategori *</label></td>
                                <td>
                                    <input id="kategori" name="kategori" class="kategoriInput" type="text" required th:field="${dataLeadsById.kategori}">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Merek</label></td>
                                <td>
                                    <div class="search-container">
                                        <input id="merk" name="merk" class="merkInput" type="text" th:field="${dataLeadsById.merek}">
                                        <div class="suggestionDataLeadsMerk suggestions"></div>
                                    </div>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Tipe</label></td>
                                <td>
                                    <div class="search-container">
                                        <input id="tipe" name="tipe" class="tipeInput" type="text" th:field="${dataLeadsById.tipe}">
                                        <div class="suggestionDataLeadsTipe suggestions"></div>
                                    </div>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Model</label></td>
                                <td>
                                    <div class="search-container">
                                        <input id="model" name="model" class="modelInput" type="text" th:field="${dataLeadsById.model}">
                                        <div class="suggestionDataLeadsModel suggestions"></div>
                                    </div>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Tahun</label></td>
                                <td>
                                    <input id="tahun" name="tahun" type="text" th:field="${dataLeadsById.tahun}">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Tahun Pajak STNK</label></td>
                                <td>
                                    <input id="tahun-pajak-stnk" name="tahun-pajak-stnk" type="text" th:field="${dataLeadsById.tahunPajakSTNK}">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Nomor BPKB</label></td>
                                <td>
                                    <input id="nomor-bpkb" name="nomor-bpkb" type="text" th:field="${dataLeadsById.nomorBPKB}">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Nomor Polisi</label></td>
                                <td>
                                    <input id="nomor-polisi" name="nomor-polisi" type="text" th:field="${dataLeadsById.nomorPolisi}">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="submit-button" type="submit">Simpan</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>