<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<header th:replace="~{layout :: header}">
</header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container">
            <h3>
                <a th:href="@{\dataleads}"> Data Leads </a>
            </h3>
            <a class="black-button create-button" th:href="@{\dataleads\form}">
                Tambah
                <i class="fas fa-plus" aria-hidden="true"></i>
            </a>
            <form method="get" class="filter" th:action="@{/dataleads}">
                <select name="filter" id="">
                    <option th:value="null">No Specific Seller</option>
                    <option th:each="filter : ${filterItem}" th:object="${filter}"
                            th:value="*{value}"th:text="*{text}"></option>
                </select>
                <div class="search-container-filter">
                    <input type="text" id="search" name="search" class="searchDataLeads" th:attr="value=${search}">
                    <div class="suggestions"></div>
                </div>
                <button class="filter-button" type="submit">
                    Search
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Nomor Data Leads</th>
                    <th>Nomor Aplikasi</th>
                    <th>Nama Debitur</th>
                    <th>Tipe Aplikasi</th>
                    <th>Keterangan</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.size(grid)} == 0">
                        <td>Data Tidak Ditemukan</td>
                    </tr>
                    <tr th:each="dataleads:${grid}" th:object="${dataleads}">
                        <td class="action">
                            <a th:href="@{\dataleads\delete(dataLeadsId=*{nomorDataLeads})}" class="action-button delete-button">
                                <i class="fa fa-trash" aria-hidden="true"></i> Hapus
                            </a>
                            <a th:href="@{\dataleads\form(dataLeadsId=*{nomorDataLeads})}" class="action-button update-button">
                                <i class="fas fa-edit" aria-hidden="true"></i> Ubah
                            </a>
                            <a class="action-button detail-button" th:href="@{\dataleads\detail(dataLeadsId=*{nomorDataLeads})}">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> Lihat
                            </a>
                        </td>
                        <td th:text="*{nomorDataLeads}"></td>
                        <td th:text="*{nomorAplikasi}"></td>
                        <td th:text="*{namaDebitur}"></td>
                        <td th:text="*{tipeAplikasi}"></td>
                        <td th:text="*{keterangan}"></td>
                        <td th:text="*{status}"></td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination" th:if="${totalPages} != 0">
                            <div>
                                <a th:href="@{/dataleads(page=1, filter=${filter}, search=${search})}"
                                   th:attr="onclick=${currentPage <= 1} ? 'event.preventDefault()' : ''">&laquo;</a>

                                <a th:href="@{/dataleads(page=${currentPage - 1}, filter=${filter}, search=${search} )}"
                                   th:attr="onclick=${currentPage <= 1} ? 'event.preventDefault()' : ''">&lt;</a>

                                <span th:text="|Page ${currentPage} of ${totalPages}|"></span>

                                <a th:href="@{/dataleads(page=${currentPage + 1}, filter=${filter}, search=${search})}"
                                   th:attr="onclick=${currentPage >= totalPages} ? 'event.preventDefault()' : ''">&gt;</a>

                                <a th:href="@{/dataleads(page=${totalPages}, filter=${filter}, search=${search})}"
                                   th:attr="onclick=${currentPage >= totalPages} ? 'event.preventDefault()' : ''">&raquo;</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </main>
</div>
</body>
</html>
