<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>
<body>
<header th:replace="~{layout :: header}"></header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}"></aside>
    <main>
        <div class="table-container">
            <h3>
                <a th:href="@{/DataLeads}"> Data Leads </a> > <a th:href="@{/DataLeads/detail}"> Lihat </a>
            </h3>
            <form method="post" class="upsert-form" action="/book-library/insert-update(categoryName=${categoryName})">
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <table>
                    <tbody>
                    <tr>
                        <td><label class="label-nama">Product *</label></td>
                        <td>
                            <p id="product" name="product">INC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Tipe Debitur*</label></td>
                        <td class="input-box">
                            <p name="tipe-debitur-perusahaan" id="tipe-debitur-perusahaan">Perusahaan</p>
                            <p name="tipe-debitur-perseorangan" id="tipe-debitur-perseorangan">Perseorangan</p>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Tipe Aplikasi *</label></td>
                        <td>
                            <p id="tipe-aplikasi" name="tipe-aplikasi">INC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Nama Depan Debitur *</label></td>
                        <td>
                            <p id="nama-depan-debitur" name="nama-depan-debitur">INC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Nama Tengah Debitur </label></td>
                        <td>
                            <p id="nama-tengah-debitur" name="nama-tengah-debitur">INC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Nama Akhir Debitur </label></td>
                        <td>
                            <p id="nama-akhir-debitur" name="nama-akhir-debitur">INC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="identitas">Nomor Identitas*</label></td>
                        <td>
                            <select name="divisi" id="divisi">
                                <option value="ktp">KTP</option>
                                <option value="sim">SIM</option>
                            </select>
                            <p id="identitas" name="identitas">081234567890</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Jenis Kelamin *</label></td>
                        <td class="input-box">
                            <p name="laki-laki" id="laki-laki">Laki-laki</p>
                            <p name="perempuan" id="perempuan">Perempuan</p>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Alamat Identitas*</label></td>
                        <td>
                            <p id="alamat" name="alamat">Alamat Identitas</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kelurahan *</label></td>
                        <td>
                            <p id="kelurahan" name="kelurahan">INC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kode Pos*</label></td>
                        <td>
                            <p id="kode-pos" name="kode-pos">12345</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kecamatan*</label></td>
                        <td>
                            <p id="kecamatan" name="kecamatan">Kecamatan XYZ</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kabupaten/Kota*</label></td>
                        <td>
                            <p id="kota" name="kota">Kota ABC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Provinsi*</label></td>
                        <td>
                            <p id="provinsi" name="provinsi">Jawa Barat</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="input-box">
                            <p name="" id="">Sama Dengan Alamat Identitas</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Alamat Domisili*</label></td>
                        <td>
                            <p id="alamat-domisili" name="alamat-domisili">Alamat Domisili</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kelurahan *</label></td>
                        <td>
                            <p id="kelurahan-domisili" name="kelurahan-domisili">INC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kode Pos*</label></td>
                        <td>
                            <p id="kode-pos-domisili" name="kode-pos-domisili">12345</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kecamatan*</label></td>
                        <td>
                            <p id="kecamatan-domisili" name="kecamatan-domisili">Kecamatan XYZ</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Kabupaten/Kota*</label></td>
                        <td>
                            <p id="kota-domisili" name="kota-domisili">Kota ABC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Provinsi*</label></td>
                        <td>
                            <p id="provinsi-domisili" name="provinsi-domisili">Jawa Barat</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nama Cabang Tujuan</label></td>
                        <td>
                            <p id="nama-cabang-tujuan" name="nama-cabang-tujuan">Cabang ABC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nomor Handphone 1*</label></td>
                        <td>
                            <p id="nomor-handphone-1" name="nomor-handphone-1">081234567890</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nomor Handphone 2</label></td>
                        <td>
                            <p id="nomor-handphone-2" name="nomor-handphone-2">081234567891</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nomor Telepon</label></td>
                        <td>
                            <p id="nomor-telepon" name="nomor-telepon">0212345678</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Sumber Data Aplikasi *</label></td>
                        <td>
                            <p id="sumber-data-aplikasi" name="sumber-data-aplikasi">Sumber ABC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Referensi</label></td>
                        <td>
                            <p id="referensi" name="referensi">Referensi XYZ</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Jenis Usaha</label></td>
                        <td>
                            <p id="jenis-usaha" name="jenis-usaha">Usaha ABC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Keterangan Aplikasi</label></td>
                        <td>
                            <p id="keterangan-aplikasi" name="keterangan-aplikasi">Keterangan XYZ</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nama Surveyor *</label></td>
                        <td>
                            <p id="nama-surveyor" name="nama-surveyor">Surveyor ABC</p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Status*</label></td>
                        <td class="input-box">
                            <p name="status" id="status-aktif">Aktif</p>
                            <p name="status" id="status-tidak-aktif">Tidak Aktif</p>
                            <div class="field-validation-error" id="error-status"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="part1" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part1')">Data Produk</button>
                    <div class="form-content">
                        <table>
                            <tbody>
                            <tr>
                                <td><label class="label-nama">POT (Payment of Term *</label></td>
                                <td>
                                    <p id="pot" name="pot">MKT</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Tenor</label></td>
                                <td>
                                    <p id="tenor" name="tenor">MKT</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>


                            <tr>
                                <td><label class="label-nama">Estimasi Nilai Funding</label></td>
                                <td>
                                    <p id="estimasi-nilai-funding" name="estimasi-nilai=-funding">MKT</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="part2" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part2')">Data Unit</button>
                    <div class="form-content">
                        <table>
                            <tbody>
                            <tr>
                                <td><label class="label-nama">Kategori *</label></td>
                                <td>
                                    <p id="kategori" name="kategori">Kategori ABC</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Merak</label></td>
                                <td>
                                    <p id="merak" name="merak">merak</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Tipe</label></td>
                                <td>
                                    <p id="tipe" name="tipe">Tipe ABC</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Model</label></td>
                                <td>
                                    <p id="model" name="model">Model ABC</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Tahun</label></td>
                                <td>
                                    <p id="tahun" name="tahun">2025</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Tahun Pajak STNK</label></td>
                                <td>
                                    <p id="tahun-pajak-stnk" name="tahun-pajak-stnk">2025</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Nomor BPKB</label></td>
                                <td>
                                    <p id="nomor-bpkb" name="nomor-bpkb">BPKB123456</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Nomor Polisi</label></td>
                                <td>
                                    <p id="nomor-polisi" name="nomor-polisi">AB123CD</p>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="submit-button" type="submit">Simpan</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>
