<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<script th:src="@{/js/mitraAgen-index.js}" defer></script>
<header th:replace="~{layout :: header}">
</header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container">
            <h3>
                <a th:href="@{/mitraAgen}"> Mitra / Agen </a>
            </h3>
            <a class="black-button create-button" th:href="@{/mitraAgen/form}">
                Tambah
                <i class="fas fa-plus" aria-hidden="true"></i>
            </a>
            <form method="get" class="filter" th:action="@{/mitraAgen}">
                <select name="filter" id="filter">
                    <option th:value="null">No Specific</option>
                    <option th:each="filter : ${filterItem}"
                            th:object="${filter}"
                            th:text="*{nama}"
                            th:value="*{value}"></option>
                </select>
                <div class="search-container-filter">
                    <input type="text" id="search" name="search" class="search-filter" th:attr="value=${search}">
                    <i class="fas fa-search search-icon"></i>
                    <div class="suggestions"></div>
                </div>
                <button class="filter-button" type="submit">
                    Search
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Tipe</th>
                    <th>Kode Mitra/Agen</th>
                    <th>Nama Mitra/Agen</th>
                    <th>Kelurahan</th>
                    <th>Cabang</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="mitraAgen:${mitraAgenGrid}" th:object="${mitraAgen}">
                    <td class="action">
                        <a th:href="@{/mitraAgen/delete(id=*{kode})}" class="action-button delete-button">
                            <i class="fa fa-trash" aria-hidden="true"></i> delete
                        </a>
                        <a th:href="@{/mitraAgen/form(id=*{kode})}" class="action-button update-button">
                            <i class="fas fa-edit" aria-hidden="true"></i> edit
                        </a>
                        <a class="action-button detail-button" th:href="@{/mitraAgen/detail(id=*{kode})}">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> lihat
                        </a>
                    </td>
                    <td th:text="*{tipe}"></td>
                    <td th:text="*{kode}"></td>
                    <td th:text="*{nama}"></td>
                    <td th:text="*{kelurahan}"></td>
                    <td th:text="*{cabang}"></td>
                    <td th:text="*{status}"></td>
                </tr>
                <tr th:if="${#lists.size(mitraAgenGrid)}==0">
                    <td colspan="7">Data Tidak Ditemukan</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination" th:if="${#lists.size(mitraAgenGrid)}!=0">
                            <div>
                                <a th:href="@{/mitraAgen(page=1, filter=${filter}, search=${search})}"
                                   th:attr="onclick=${currentPage <= 1} ? 'event.preventDefault()' : ''">&laquo;</a>

                                <a th:href="@{/mitraAgen(page=${currentPage - 1}, filter=${filter}, search=${search} )}"
                                   th:attr="onclick=${currentPage <= 1} ? 'event.preventDefault()' : ''">&lt;</a>

                                <span th:text="|Page ${currentPage} of ${totalPages}|"></span>

                                <a th:href="@{/mitraAgen(page=${currentPage + 1}, filter=${filter}, search=${search})}"
                                   th:attr="onclick=${currentPage >= totalPages} ? 'event.preventDefault()' : ''">&gt;</a>

                                <a th:href="@{/mitraAgen(page=${totalPages}, filter=${filter}, search=${search})}"
                                   th:attr="onclick=${currentPage >= totalPages} ? 'event.preventDefault()' : ''">&raquo;</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </main>
</div>
</body>
</html>
