<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<header th:replace="~{layout :: header}">
</header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container">
            <h3>
                <a href="../usermanagement/master-jabatan.html"> Mitra / Agen </a>
            </h3>
            <a class="black-button create-button" href="master-jabatan-form.html">
                Tambah
                <i class="fas fa-plus" aria-hidden="true"></i>
            </a>
            <form method="get" class="filter" th:action="@{/prospect}">
                <select name="" id="">
                    <option value="">Tipe</option>
                    <option value="">Kode Mitra/Agen</option>
                    <option value="">Nama Mitra/Agen</option>
                    <option value="">Kelurahan</option>
                    <option value="">Cabang</option>
                    <option value="">Status</option>
                </select>
                <input type="text" id="" name="" placeholder="" >
                <button class="filter-button" type="submit">
                    Search
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Tipe</th>
                    <th>Kode Mitra/Agen</th>
                    <th>Nama Mitra/Agen</th>
                    <th>Kelurahan</th>
                    <th>Cabang</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="mitraAgen:${mitraAgenGrid}" th:object="${mitraAgen}">
                    <td class="action">
                        <a th:href="@{/mitraAgen/delete(id=*{kode})}" class="action-button delete-button">
                            <i class="fa fa-trash" aria-hidden="true"></i> delete
                        </a>
                        <a th:href="@{/mitraAgen/form(id=*{kode})}" class="action-button update-button">
                            <i class="fas fa-edit" aria-hidden="true"></i> edit
                        </a>
                        <a class="action-button detail-button" th:href="@{/mitraAgen/detail(id=*{kode})}">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> lihat
                        </a>
                    </td>
                    <td th:text="*{tipe}"></td>
                    <td th:text="*{kode}"></td>
                    <td th:text="*{nama}"></td>
                    <td th:text="*{kelurahan}"></td>
                    <td th:text="*{cabang}"></td>
                    <td th:text="*{status}"></td>
                </tr>
                <tr th:if="${#lists.size(mitraAgenGrid)}==0">
                    <td colspan="7">Data Tidak Ditemukan</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination" th:if="${numberOfPages} != 0">
                            <div>
                                <button>&laquo;</button>
                                <button>&lt;</button>
                                <span
                                        th:text="|Page ${currentPage} of ${totalPages}|"
                                        th:if="${#lists.size(mitraAgenGrid)}!=0">
                                </span>
                                <button>&gt;</button>
                                <button>&raquo;</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </main>
</div>
</body>
</html>
