<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<header th:replace="~{layout :: header}">
</header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container">
            <h3>
                <a href="../usermanagement/master-jabatan.html"> Mitra / Agen </a>
            </h3>
            <a class="black-button create-button" href="master-jabatan-form.html">
                Tambah
                <i class="fas fa-plus" aria-hidden="true"></i>
            </a>
            <form method="get" class="filter" th:action="@{/prospect}">
                <select name="" id="">
                    <option value="indocyber">Tipe</option>
                    <option value="indocyber">Kode Mitra/Agen</option>
                    <option value="indocyber">Nama Mitra/Agen</option>
                    <option value="indocyber">Kelurahan</option>
                    <option value="indocyber">Cabang</option>
                    <option value="indocyber">Status</option>
                </select>
                <input type="text" id="nama" name="nama" placeholder="Nama Jabatan" th:attr="value=${nama}">
                <button class="filter-button" type="submit">
                    Search
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <table>
                <thead>
                <tr>
                    <th>Tipe</th>
                    <th>Kode Mitra/Agen</th>
                    <th>Nama Mitra/Agen</th>
                    <th>Kelurahan</th>
                    <th>Cabang</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="action">
                        <a href="#" class="action-button delete-button">
                            <i class="fa fa-trash" aria-hidden="true"></i> delete
                        </a>
                        <a href="master-jabatan-form.html" class="action-button update-button">
                            <i class="fas fa-edit" aria-hidden="true"></i> edit
                        </a>
                        <a class="action-button detail-button" href="../usermanagement/master-jabatan-detail.html">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> lihat
                        </a>
                    </td>
                    <td>Agen</td>
                    <td>A001</td>
                    <td>Sukses Selalu</td>
                    <td>Batu</td>
                    <td>Jatim</td>
                    <td>Aktif</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination" th:if="${numberOfPages} != 0">
                            <div>
                                <button>&laquo;</button>
                                <button>&lt;</button>
                                <span>Page 1 of 30</span>
                                <button>&gt;</button>
                                <button>&raquo;</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </main>
</div>
</body>
</html>
