<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>
<body>
<header th:replace="~{layout :: header}"></header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container">
            <h3>
                <a th:href="@{/mitraAgen}"> Mitra / Agen </a>
                <span> > </span>
                <span>Detail</span>
            </h3>
            <form method="post" class="upsert-form" action="">
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <table th:object="${detailMitraAgenGrid}">
                    <tbody>
                        <tr>
                            <td><label class="label-nama">Kode Mitra/Agen</label></td>
                            <td>
                                <p id="id" name="id" th:text="*{id}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="label-nama">Tipe Master</label></td>
                            <td>
                                <p id="Tipe" name="tipe" th:text="*{tipe}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="label-nama">Produk</label></td>
                            <td>
                                <p id="Produk" name="Produk" th:text="*{produk}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="label-nama">Cabang</label></td>
                            <td>
                                <p id="cabangsales" name="cabangsales" th:text="*{cabang}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="label-nama">Status</label></td>
                            <td>
                                <p id="status" name="status" th:text="*{status}"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="part1" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part1')">Data Pribadi</button>
                    <div class="form-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td><label class="label-nama">Nomor Identitas</label></td>
                                    <td>
                                        <p id="identitas" name="identitas" th:text="*{nomorIdentitas}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Nama</label></td>
                                    <td>
                                        <p id="nama" name="nama" th:text="*{nama}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Jenis Kelamin</label></td>
                                    <td>
                                        <p id="kelamin" name="kelamin" th:text="*{jenisKelamin}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Nomor NPWP</label></td>
                                    <td>
                                        <p id="NPWP" name="NPWP" th:text="*{npwp}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Alamat Identitas</label></td>
                                    <td>
                                        <p id="alamatIdentitas" name="alamatIdentitas" th:text="*{alamatIdentitas}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Kelurahan</label></td>
                                    <td>
                                        <p id="kelurahanIdentitas" name="kelurahanIdentitas" th:text="*{kelurahanIdentitas}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Kode Pos</label></td>
                                    <td>
                                        <p id="kodeposIdentitas" name="kodeposIdentitas" th:text="*{kodePosIdentitas}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Kecamatan</label></td>
                                    <td>
                                        <p id="kecamatanIdentitas" name="kecamantanIdentitas" th:text="*{kecamatanIdentitas}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Kota / Kabupaten</label></td>
                                    <td>
                                        <p id="kotakabupatenIdentitas" name="kotakabupatenIdentitas" th:text="*{kotaIdentitas}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Provinsi</label></td>
                                    <td>
                                        <p id="provinsiIdentitas" name="provinsiIdentitas" th:text="*{provinsiIdentitas}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" id="alamatSama" disabled>
                                        <label for="alamatSama">Alamat domisili sama dengan alamat identitas</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Alamat Domisili</label></td>
                                    <td>
                                        <p id="alamatDomisili" name="alamatDomisili" th:text="*{alamatIdentitas}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Kelurahan</label></td>
                                    <td>
                                        <p id="kelurahanDomisili" name="kelurahan" th:text="*{kelurahanDomisili}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Kode Pos</label></td>
                                    <td>
                                        <p id="kodeposDomisili" name="kodeposDomisili" th:text="*{kodePosDomisili}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Kecamatan</label></td>
                                    <td>
                                        <p id="kecamatanDomisili" name="kecamantanDomisili" th:text="*{kecamatanDomisili}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Kota / Kabupaten</label></td>
                                    <td>
                                        <p id="kotakabupatenDomisili" name="kotakabupatenDomisili" th:text="*{kotaDomisili}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Provinsi</label></td>
                                    <td>
                                        <p id="provinsiDomisili" name="provinsiDomisili" th:text="*{provinsiDomilisi}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Tempat Lahir</label></td>
                                    <td>
                                        <p id="tempatlahir" name="tempatlahir" th:text="*{tempatLahir}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Tanggal Lahir</label></td>
                                    <td>
                                        <p id="tanggallahir" name="tanggallahir" th:text="*{tanggalLahir}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Nomor Telepon</label></td>
                                    <td>
                                        <p id="nomortelepon" name="nomortelepon" th:text="*{nomorTelepon}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Nomor Handphone</label></td>
                                    <td>
                                        <p id="nomorhandphone" name="nomorhandphone" th:text="*{nomorHandphone}"></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="part2" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part2')">Data Rekening</button>
                    <div class="form-content">
                        <table>
                            <tbody>
                                <tr>
                                    <td><label class="label-nama">Nama Bank</label></td>
                                    <td>
                                        <p id="bank" name="bank" th:text="*{bank}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Nomor Rekening</label></td>
                                    <td>
                                        <p id="rek" name="rek" th:text="*{nomorRekening}"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label class="label-nama">Nama Pemilik Rekening</label></td>
                                    <td>
                                        <p id="namarekening" name="namarekening" th:text="*{namaRekening}"></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<script th:src="@{/js/mitraAgen-detail.js}" defer></script>
</body>
</html>
