<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<header th:replace="~{layout :: header}">
</header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container">
            <h3 th:object="${mitraAgenByIdGrid}">
                <a th:href="@{/mitraAgen}"> Mitra / Agen </a>
                <span th:if="*{id}==null"> > Tambah</span>
                <span th:if="*{id}!=null"> > Ubah</span>
            </h3>
            <form method="post" class="upsert-form" th:attr="action=@{/mitraAgen/form}" th:object="${mitraAgenByIdGrid}" >
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <input type="hidden" id="idTambah" name="idTambah" th:if="*{id}==null">
                <table>
                    <tbody>
                    <tr th:if="*{id}!=null">
                        <td><label class="label-nama">Kode Mitra/Agen</label></td>
                        <td>
                            <input id="idUbah" name="idUbah" type="text" th:value="*{id}" disabled >
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Tipe Master *</label></td>
                        <td>
                            <input id="Tipe" name="tipe" type="text" th:value="*{idTipeMaster}" required >
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Produk *</label></td>
                        <td>
                            <div class="search-container">
                                <input class="search-produk" id="Produk" name="Produk" type="text" th:value="*{idProduk}" required >
                                <div class="suggestions mitraProduk"></div>
                            </div>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Cabang *</label></td>
                        <td>
                            <input id="cabangsales" name="cabangsales" type="text" th:value="*{idCabang}" required readonly>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="part1" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part1')">Data Pribadi</button>
                    <div class="form-content">
                        <table>
                            <tbody>
                            <!-- Divisi (Dropdown) -->
                            <tr>
                                <td><label class="identitas" >Nomor Identitas*</label></td>
                                <td>
                                    <select name="idIdentitas" id="idIdentitas">
                                        <option value="ktp">KTP</option>
                                        <option value="sim">SIM</option>
                                    </select>

                                    <input id="identitas" name="identitas" type="number" required placeholder="&#xf095;   081234567890">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nama *</label></td>
                                <td>
                                    <input id="nama" name="nama" type="text" required>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Jenis Kelamin*</label></td>
                                <td class="input-box">
                                    <input type="radio" name="kelamin" id="laki-laki" value="laki-laki" required>
                                    <label for="laki-laki">Laki-Laki</label>
                                    <input type="radio" name="kelamin" id="perempuan" value="perempuan" required>
                                    <label for="perempuan">Perempuan</label>
                                    <div class="field-validation-error" id="error-statu"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nomor NPWP *</label></td>
                                <td>
                                    <input id="NPWP" name="NPWP" type="number" required>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Alamat Identitas*</label></td>
                                <td>
                                    <textarea id="address" name="address" required placeholder="&#xf015;" rows="4" cols="50"></textarea>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama"> Kelurahan *</label></td>
                                <td>
                                    <div class="search-container">
                                        <input id="kelurahanIdentitas" name="kelurahanIdentitas" type="text" class="search-kelurahan" required>
                                        <div class="suggestions mitraKelurahan"></div>
                                    </div>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kode Pos *</label></td>
                                <td>
                                    <input id="kodeposIdentitas" name="kodeposIdentitas" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kecamatan *</label></td>
                                <td>
                                    <input id="kecamatanIdentitas" name="kecamantanIdentitas" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kota / Kabupaten *</label></td>
                                <td>
                                    <input id="kotakabupatenIdentitas" name="kotakabupaten" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Provinsi *</label></td>
                                <td>
                                    <input id="provinsiIdentitas" name="provinsi" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Alamat Domisili*</label></td>
                                <td>
                                    <textarea id="alamatDomisili" name="alamatDomisili" required placeholder="&#xf015;" rows="4" cols="50"></textarea>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama"> Kelurahan *</label></td>
                                <td>
                                    <input id="kelurahanDomisili" name="kelurahanDomisili" type="text" required>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kode Pos *</label></td>
                                <td>
                                    <input id="kodeposDomisili" name="kodeposDomisili" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kecamatan *</label></td>
                                <td>
                                    <input id="kecamatanDomisili" name="kecamantanDomisili" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kota / Kabupaten *</label></td>
                                <td>
                                    <input id="kotakabupatenDomisili" name="kotakabupatenDomisili" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Provinsi *</label></td>
                                <td>
                                    <input id="provinsiDomisili" name="provinsiDomisili" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Tempat Lahir *</label></td>
                                <td>
                                    <input id="tempatlahir" name="tempatLahir" type="text" required >
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Tanggal Lahir *</label></td>
                                <td>
                                    <input id="tanggallahir" name="tanggallahir" type="date" required placeholder="&#xf133;   1 Januari 2025">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="nomortelepon">Nomor Telepon </label></td>
                                <td>
                                    <input id="nomortelepon" name="nomortelepon" type="text">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="nomorhandphone">Nomor Handphone * </label></td>
                                <td>
                                    <input id="nomorhandphone" name="nomorhandphone" type="text">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="part2" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part2')">Data Rekening</button>
                    <div class="form-content">
                        <table>
                            <tbody>

                            <tr>
                                <td><label class="label-nama">Nama Bank*</label></td>
                                <td>
                                    <input id="bank" name="bank" type="text" required >
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nomor Rekening *</label></td>
                                <td>
                                    <input id="rek" name="rek" type="tel" required >
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nama Pemilik Rekening *</label></td>
                                <td>
                                    <input id="namarekening" name="namarekening" type="text" required >
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Status*</label></td>
                                <td class="input-box">
                                    <input type="radio" name="status" id="status-aktif" value="Aktif" required>
                                    <label for="status-aktif">Aktif</label>
                                    <input type="radio" name="status" id="status-tidak-aktif" value="Tidak Aktif" required>
                                    <label for="status-tidak-aktif">Tidak Aktif</label>
                                    <div class="field-validation-error" id="error-status"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="submit-button" type="submit">Save</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>
