<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<header th:replace="~{layout :: header}">
</header>
<script th:src="@{/js/mitraAgen-form.js}" defer></script>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container" th:object="${mitraAgenByIdGrid}" >
            <h3>
                <a th:href="@{/mitraAgen}"> Mitra / Agen </a>
                <span th:switch="*{id}">
                    <span th:case="null"> > Tambah</span>
                    <span th:case="*{id}"> > Ubah</span>
                </span>
            </h3>
            <form method="post" class="upsert-form" th:attr="action=@{/mitraAgen/form}" th:object="${mitraAgenByIdGrid}" >
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <input th:if="*{id}==null" type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{idTipeMaster}">
                <table>
                    <tbody>
                    <tr th:if="*{id}!=null">
                        <td><label class="label-nama">Kode Mitra/Agen</label></td>
                        <td>
                            <input type="text" th:field="*{id}" readOnly >
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Tipe Master *</label></td>
                        <td>
                            <div class="search-container">
                                <input class="search-tipeMaster" id="tipeMaster" name="tipeMaster" type="text" th:field="*{namaTipeMaster}" required >
                                <i class="fas fa-search search-icon" data-target="tipeMaster"></i>
                                <div class="suggestions tipeMaster"></div>
                            </div>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Produk *</label></td>
                        <td>
                            <div class="search-container">
                                <input class="search-produk" id="produk" name="produk" type="text" th:field="*{namaProduk}" required >
                                <i class="fas fa-search search-icon" data-target="produk"></i>
                                <div class="suggestions produk"></div>
                            </div>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Cabang *</label></td>
                        <td>
                            <input type="text" th:field="*{namaCabang}" th:value="${mitraAgenByIdGrid?.namaCabang}"  required readOnly>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Status*</label></td>
                        <td class="input-box">
                            <input th:field="*{status}" type="radio" name="status" id="status-aktif" value="1" required>
                            <label for="status-aktif">Aktif</label>
                            <input th:field="*{status}" type="radio" name="status" id="status-tidak-aktif" value="0" required>
                            <label for="status-tidak-aktif">Tidak Aktif</label>
                            <div class="field-validation-error" id="error-status"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="part1" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part1')">Data Pribadi</button>
                    <div class="form-content">
                        <table>
                            <tbody>
                            <!-- Divisi (Dropdown) -->
                            <tr>
                                <td><label class="identitas" >Nomor Identitas*</label></td>
                                <td>
                                    <select name="idIdentitas" id="idIdentitas">
                                        <option th:each="identitas : ${identitasGrid}"
                                                th:object="${identitas}"
                                                th:text="*{namaIdentitas}"
                                                th:value="*{id}"></option>
                                    </select>

                                    <input th:field="*{nomorIdentitas}" id="identitas" name="identitas" type="number" required placeholder="&#xf095;   081234567890">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nama *</label></td>
                                <td>
                                    <input id="nama" name="nama" type="text" th:field="*{nama}" required>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Jenis Kelamin*</label></td>
                                <td class="input-box">
                                    <input th:field="*{jenisKelamin}" type="radio" name="kelamin" id="laki-laki" value="L" required>
                                    <label for="laki-laki">Laki-Laki</label>
                                    <input th:field="*{jenisKelamin}" type="radio" name="kelamin" id="perempuan" value="P" required>
                                    <label for="perempuan">Perempuan</label>
                                    <div class="field-validation-error" id="error-statu"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nomor NPWP *</label></td>
                                <td>
                                    <input th:field="*{npwp}" id="NPWP" name="NPWP" type="text" required>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Alamat Identitas*</label></td>
                                <td>
                                    <textarea th:field="*{alamatIdentitas}" id="address" name="address" required placeholder="&#xf015;" rows="4" cols="50"></textarea>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama"> Kelurahan *</label></td>
                                <td>
                                    <div class="search-container">
                                        <input th:field="*{namaKelurahanIdentitas}" id="kelurahanIdentitas" name="kelurahanIdentitas" type="text" class="search-kelurahanIdentitas" required>
                                        <i class="fas fa-search search-icon" data-target="kelurahanIdentitas"></i>
                                        <div class="suggestions kelurahanIdentitas"></div>
                                    </div>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kode Pos *</label></td>
                                <td>
                                    <input th:field="*{kodeposIdentitas}" id="kodeposIdentitas" name="kodeposIdentitas" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kecamatan *</label></td>
                                <td>
                                    <input th:field="*{kecamatanIdentitas}" id="kecamatanIdentitas" name="kecamantanIdentitas" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kota / Kabupaten *</label></td>
                                <td>
                                    <input th:field="*{kotaIdentitas}" id="kotakabupatenIdentitas" name="kotakabupaten" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Provinsi *</label></td>
                                <td>
                                    <input th:field="*{provinsiIdentitas}" id="provinsiIdentitas" name="provinsi" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <input type="checkbox" id="alamatSama"
                                           th:checked="*{namaKelurahanIdentitas} != null and *{namaKelurahanIdentitas} == *{namaKelurahanDomisili}">
                                    <label for="alamatSama">Alamat domisili sama dengan alamat identitas</label>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Alamat Domisili*</label></td>
                                <td>
                                    <textarea th:field="*{alamatDomisili}" id="alamatDomisili" name="alamatDomisili" required placeholder="&#xf015;" rows="4" cols="50"></textarea>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama"> Kelurahan *</label></td>
                                <td>
                                    <div class="search-container">
                                        <input th:field="*{namaKelurahanDomisili}" id="kelurahanDomisili" name="kelurahanDomisili" type="text" class="search-kelurahanDomisili" required>
                                        <i class="fas fa-search search-icon" data-target="kelurahanDomisili"></i>
                                        <div class="suggestions kelurahanDomisili"></div>
                                    </div>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kode Pos *</label></td>
                                <td>
                                    <input th:field="*{kodeposDomisili}" id="kodeposDomisili" name="kodeposDomisili" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kecamatan *</label></td>
                                <td>
                                    <input th:field="*{kecamatanDomisili}" id="kecamatanDomisili" name="kecamantanDomisili" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Kota / Kabupaten *</label></td>
                                <td>
                                    <input th:field="*{kotaDomisili}" id="kotakabupatenDomisili" name="kotakabupatenDomisili" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Provinsi *</label></td>
                                <td>
                                    <input th:field="*{provinsiDomisili}" id="provinsiDomisili" name="provinsiDomisili" type="text" required readonly>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>

                            <tr>
                                <td><label class="label-nama">Tempat Lahir *</label></td>
                                <td>
                                    <input th:field="*{tempatLahir}" id="tempatLahir" name="tempatLahir" type="text" required >
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Tanggal Lahir *</label></td>
                                <td>
                                    <input th:value="*{tanggalLahir}" id="tanggalLahir" name="tanggalLahir" type="date" required>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nomor Telepon </label></td>
                                <td>
                                    <input th:field="*{nomorTelepon}" id="nomortelepon" name="nomortelepon" type="text">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nomor Handphone * </label></td>
                                <td>
                                    <input th:field="*{nomorHandPhone}" id="nomorhandphone" name="nomorhandphone" type="text">
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="part2" class="form-part">
                    <button type="button" class="toggle-btn" onclick="togglePart('part2')">Data Rekening</button>
                    <div class="form-content">
                        <table>
                            <tbody>

                            <tr>
                                <td><label class="label-nama">Nama Bank*</label></td>
                                <td>
                                    <div class="search-container">
                                        <input class="search-bank" id="bank" name="bank" type="text" th:field="*{namaBank}" required >
                                        <i class="fas fa-search search-icon" data-target="bank"></i>
                                        <div class="suggestions bank"></div>
                                    </div>
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nomor Rekening *</label></td>
                                <td>
                                    <input th:field="*{nomorRekening}" id="rek" name="rek" type="tel" required >
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="label-nama">Nama Pemilik Rekening *</label></td>
                                <td>
                                    <input th:field="*{namaRekening}" id="namarekening" name="namarekening" type="text" required >
                                    <div class="field-validation-error"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="submit-button" type="submit">Save</button>
            </form>
        </div>
    </main>
</div>
<script th:src="@{/js/mitraAgen-form.js}" defer></script>
</body>
</html>