<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<header th:replace="~{layout :: header}">
</header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container">
            <h3>
                <a th:href="@{\referensi}"> Master Tipe Aplikasi </a> > <a > Tambah </a>
            </h3>
            <form method="post" class="upsert-form" >
                <table>
                    <tbody>
                    <tr>
                        <td><label class="label-nama">Id *</label></td>
                        <td>
                            <p  type="text"  th:text="${referensiDto.id}"></p>

                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Nama *</label></td>
                        <td>
                            <p  type="text"  th:text="|${referensiDto.namaDepan} ${referensiDto.namaTengah} ${referensiDto.namaAkhir} |"></p>

                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Status Aplikasi *</label></td>
                        <td>
                            <p id="status-aplikasi" name="tipe-aplikasi" type="text" required th:field="${referensiDto.status}">
                                <span th:if="${referensiDto.status}">Aktif</span>
                                <span th:if="${not referensiDto.status}">Tidak Aktif</span>
                            </p>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>
        </div>
    </main>
</div>
</body>
</html>