<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<header th:replace="~{layout :: header}">
</header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="upsert-form" th:object="${detailBankGrid}">
            <h3>
                <a th:href="@{/bank}"> Master Bank </a>
                <span> > </span>
                <span>Lihat</span>
            </h3>
            <div>
                <table>
                    <tbody>
                    <tr>
                        <td><label class="label-nama">Kode Bank</label></td>
                        <td>
                            <p th:text="*{kodeBank}"></p>
                        </td>
                    </tr>

                    <tr>
                        <td><label class="label-nama">Nama Bank *</label></td>
                        <td>
                            <p th:text="*{namaBank}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="label-nama">Status*</label></td>
                        <td class="input-box">
                            <p th:text="*{status} == 1 ? 'Aktif' : 'Tidak Aktif'"></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
</body>
</html>
