<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}">
</head>
<body>
<header th:replace="~{layout :: header}">
</header>
<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}">
    </aside>
    <main>
        <div class="table-container">
            <h3>
                <a th:href="@{/merk}"> Master Merk </a> >
                <a th:href="@{/merk/form}" th:text="${formMerk.id != null} ? 'Ubah' : 'Tambah'"></a>
            </h3>
            <form method="post" class="upsert-form" th:action="@{/merk/form}" th:object="${formMerk}">
                <table>
                    <tbody>
                    <tr>
                        <td><label class="label-nama">Kategori *</label></td>
                        <td>
                            <div class="search-container">
                                    <input id="namaKategoriMerk" name="namaKategori" class="namaKategoriMerkInput" type="text" th:field="*{namaKategori}">
                                <input id="idKategoriMerk" name="idKategori" class="idKategoriMerkInput" type="hidden" th:field="*{idKategori}">
                                <i class="fas fa-search search-icon"></i>
                                <div class="suggestions merkKategori"></div>
                            </div>
                            <div th:errors="*{idKategori}" class="field-validation-error"></div>
                        </td>
                    <tr>
                    <tr>
                        <td><label class="label-nama">Kode Merk *</label></td>
                        <td>
                            <input id="idMerk" name="idMerk" type="text" th:field="*{id}"    th:readonly="${formMerk.id != null}">
                            <div class="field-validation-error"></div>
                        </td>
                    <tr>
                    <tr>
                        <td><label class="label-nama">Nama Merk *</label></td>
                        <td>
                            <input id="namaMerk" name="namaMerk" type="text" th:field="*{namaMerk}">
                            <div th:errors="*{namaMerk}" class="field-validation-error"></div>
                        </td>
                    <tr>
                    <tr>
                        <td><label class="label-nama">Negara Manufaktur *</label></td>
                        <td>
                            <div class="search-container">
                                <input id="namaNegaraMerk" name="namaNegara" class="namaNegaraMerkInput" type="text" th:field="*{namaNegara}">
                                <input id="idNegaraMerk" name="idNegara" class="idNegaraMerkInput" type="hidden" th:field="*{idNegara}">
                                <i class="fas fa-search search-icon"></i>
                                <div class="suggestions merkNegara"></div>
                            </div>
                            <div th:errors="*{idNegara}" class="field-validation-error"></div>
                        </td>
                    <tr>
                    <tr>
                        <td><label class="label-nama">Status *</label></td>
                        <td class="input-box">
                            <input type="radio" th:field="*{status}" value="true" id="status-aktif" >
                            <label for="status-aktif">Aktif</label>

                            <input type="radio" th:field="*{status}" value="false" id="status-tidak-aktif" >
                            <label for="status-tidak-aktif">Tidak Aktif</label>

                            <div th:errors="*{status}"  class="field-validation-error"></div>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <button class="submit-button" type="submit">Simpan</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>